*::before,
*::after {
  box-sizing: border-box;
}

.krona-one-regular {
  font-family: 'Krona One', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 200%;
}

aside {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 100%;
  padding: 0;
  font-size: 18px;
  background-color: #2e64fe;
}

.aside_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  color: #fff;
}

.kimdoho {
  margin-top: 150px;
  margin-bottom: 60px;
  font-family: 'Krona One', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  text-align: center;
}

.aside_h {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 0;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.4s;
}

.aside_h:hover {
  font-weight: 700;
  background-color: #87ceeb;
}

.portfolio_text {
  box-sizing: border-box;
  display: none;
  width: 100%;
  padding: 20px;
  margin: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.portfolio_text.visible {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-left: 350px;
  background-color: white;
}

.image_container {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 150px;
}

.welcome_img {
  display: block;
}

.portfolio_text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 64px;
  font-weight: 700;
  color: white;
  text-align: center;
  transform: translate(-50%, 150%);
}

.portfolio_text_overlay:hover {
  color: #6790ff;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w_t {
  margin-inline: 100px;
}

.w_t2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.w_t3 {
  margin-inline: 200px;
  margin-bottom: 80px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #767676;
}

.w_t3 span:hover {
  font-weight: 700;
  color: #2e64fe;
  cursor: pointer;
}

.skills_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px 0;
  margin-bottom: 300px;
}

.skills_section h2 {
  margin-bottom: 40px;
  font-family: 'noto sans kr', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.skills_section h2:hover {
  color: #2e64fe;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  width: 80%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.skill img {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}

.skill p {
  margin: 10px 0;
  font-family: 'noto sans kr', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.skill p:hover {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.stars {
  font-size: 25px;
  color: rgb(252, 202, 38);
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 100px;
}

.portfolio_section.visible {
  display: flex;
}

.portfolio_title {
  margin-top: 0;
  font-family: 'noto sans kr', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
}

.portfolio_subtitle {
  font-family: 'noto sans kr', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.portfolio_subtitle:hover {
  font-weight: 700;
  color: #2e64fe;
  cursor: pointer;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 30%;
}

.portfolio_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.portfolio_image {
  width: 100%;
  max-width: 150px;
  height: 150px;
  background-color: #d3d3d3;
}

.lecture_name {
  margin: 80px;
  font-family: 'noto sans kr' sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.main_explain {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 500px;
  margin-bottom: 150px;
}

.main_left {
  display: flex;
  justify-content: flex-end;
}

.main_right {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main_right_text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 150px;
}

.m_t {
  font-family: 'noto sans kr', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.t1 {
  font-weight: 800;
}

.turtle_img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px 0;
}

.contact_section h2 {
  font-size: 32px;
  color: #2e64fe;
}

.contact_section p {
  font-size: 18px;
  text-align: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact_form button {
  padding: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #2e64fe;
  border: none;
  border-radius: 5px;
}

.contact_form button:hover {
  background-color: #2e64fe;
}

.contact_section.adjust-position {
  margin-top: 80px;
}
.